div.embed {
    display: inline-flex;
    border: cornflowerblue solid 3px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: stretch;
    @media screen and (orientation: portrait) {
        flex-direction: column;
    }
    font-family: monospace, sans-serif, Airal;
}

div.embed div.icon{
    padding: 1vw;
    /* @media screen and (orientation: portrait)
    {
        border-left:black solid 3px;
        border-right:black solid 3px; 
    } */
    
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (orientation:landscape)
    {
        border-right: cornflowerblue solid 3px;
    }
}
div.icon img {
    display: flex;
    position:relative;
    vertical-align: middle;
    align-content: center;
    border-radius: 15px;
}


div.embed div.desc {
    padding: 1vw;
    @media screen and (orientation: portrait)
    {border-top: cornflowerblue solid 3px;}
    @media screen and (orientation: portrait)
    {
        padding: 3vw;
        font-size:3vw;
    }
    @media screen and (orientation: landscape)
    {
        padding: 3vh;
        font-size: 3vh;
    }
}

div.embed h1 {
    color: white;
    margin: 0;
}

div.embed h1:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


div.embed a.author {
    color:cornflowerblue;
}

div.embed a.author:hover{
    text-decoration: underline;
}

div.embed a.link-button {
    background-color:black;
    padding:5px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    /* @media screen and (orientation: portrait)
    {
        padding: 1vw;
        font-size:3vw;
        }
        @media screen and (orientation: landscape)
        {
            padding: 1vh;
            font-size: 3vh;
            } */
    color: white;
    border-collapse:separate;
    transition-duration: 0.3s;
}

div.embed a.link-button:hover {
    background-color: cornflowerblue;
    color:black;
    text-decoration: underline solid;
}

div.embed a{
    text-decoration: none;
}