body {
    display: block;
    margin: 10px 20px;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    /* text-shadow: 1px 1px 1px white, -1px -1px 1px white; */
    /* -webkit-text-stroke: 1.5px rgb(0, 0, 0) ; */
}

@media screen and (orientation:landscape){
    
    header.main {
        background-color: black;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}
@media screen and (orientation:portrait){
    
    header.main {
        background-color: black;
        word-wrap: break-word;
        display: block;
        /* align-items: center; */
        /* flex-direction: row; */
    }
}
    
header.downloads {
    background-color: black;
    padding: 10px 20px;
}

article{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

img[src$="owner.jfif"] {
    width: 13vw;
    border-radius: 50%;
}

figure {
    float:left;
    width: 10vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.7vw;
}

#smallAbout {
    display: inline;
    font-family: sans-serif, Arial, Helvetica, serif;
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 0.8px;
    -webkit-text-stroke: 0.8px black;
}