body {
    display: grid;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    /* text-shadow: 1px 1px 1px white, -1px -1px 1px white; */
    /* -webkit-text-stroke: 1.5px rgb(0, 0, 0) ; */
}

header {
    grid-area: header;
    background-color: black;
    word-wrap: break-word;
}

header.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

aside.skills {
    grid-area: aside;
    background: black;
    padding: 1vw;
}

aside.skills table{
    border-spacing: 2px 20px;
    text-align: left;
}

.progress-container{
    background: rgba(50, 50, 50, 0.5);
}

.progress-bar{
    font-size:80%;
    text-align: right;
    background-color: cornflowerblue;
}

img[src$="owner.jfif"] {
    border-radius: 50%;
}

figure {
    float: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.7vw;
}

article{
    grid-area: article;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#smallAbout {
    display: inline;
    font-family: sans-serif, Arial, Helvetica, serif;
    font-weight: bolder;
    letter-spacing: 0.8px;
    -webkit-text-stroke: 0.8px black;
}
@media screen and (orientation:landscape){
    
    body{
        grid-template-areas: 
        "header header header"
        "article article aside"
        "article article aside";
        margin: 10px 20px;
        grid-template-columns: 20% 60% 20%;
    }
    
    img[src$="owner.jfif"] {
        width: 13vw;
    }    
    
    figure {
        width: 13vw;
    }
    
    aside.skills {
        display: flex;
        flex-direction: column;
        font-size: 2vw;
    }

    div.skills-menu {
        display: block;
    }

    button.skills-button {
        display: none;
    }

    #smallAbout {
        font-size: 4vh;
    }

    article p{
        font-size: 2vw
    }
}
@media screen and (orientation:portrait){

    body {
        grid-template-areas: 
        "header header header"
        "aside aside aside"
        "article article article";
    }

    img[src$="owner.jfif"] {
        width: 13vh;
    }
    
    figure {
        width: 13vh;
    }
    aside.skills {
        font-size: 3vh;
    }

    button.skills-button {
        font-size: 3vh;
        background-color: transparent;
        border: 1px solid cornflowerblue;
        color: cornflowerblue;
        transition-duration: 0.3s;
    }

    button.skills-button:active {
        background-color: cornflowerblue;
        color: black;
    }

    div.skills-menu {
        display: none;
    }

    header.main {
        flex-direction: column;
    }

    .progress-bar{
        font-size: 100%;
    }

    .label {
        display: inline-block;
        width: max-content;
        text-wrap: nowrap;
        margin: 0px 10px;
    }

    #smallAbout {
        font-size: 4vh;
    }

    article p{
        font-size: 3vh;
    }
}