body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "article article article"
    "article article article";
}

.project-button {
    display: inline-block;
    padding: 1vw;
    border: solid 1px white;
    align-content: space-around;

    color:white;
    background-color: black;
    font-size: 4vw;
    @media screen and (orientation:portrait){
        font-size: 4vh;
    }    
    text-decoration: none;
    word-wrap: break-word;
    
    transition-duration: 450ms;
}

.project-button:hover {
    background-color: white;
    color:black;
    font-size: 4vw;
    @media screen and (orientation:portrait){
        font-size: 4vh;
    }    
    /*writing-mode:horizontal-tb;*/
}